apiVersion: v1  # Asegúrate de que esté exactamente así
kind: Service
metadata:
  name: api-service
  namespace: blazing
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  # type: LoadBalancer